@import "tailwindcss";

@theme {
  --white: #ffffff;
  --gray-100: #f7f3f6;
  --gray-200: #f4e6f0;
  --gray-300: #7a6e76;
  --gray-400: #7a6e76;
  --green-light: #cddfcc;
  --green-base: #52a350;
  --green-dark: #2f5c2d;
  --pink-light: #e9cce1;
  --pink-base: #c257a4;
  --pink-dark: #884074;
}
